/* #gameDiv {
    background-image: url("pictures/BatmanPic.jpg");
    background-repeat: no-repeat;
  } */
body, html{
    background-image: url("pictures/BatmanPic.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    height: 100%;
   /* min-width: 100%;
   min-height: 100%; */ 
} 
.directions{
    color: #fdff00;
    text-align: center;
    margin-top: 18px;
}
#gameDiv{
    position:absolute;
    width:25%px;
    height:100px;
    left: 46%;
    top: 37%;
    margin-left:-20px;
    margin-top:-20px;
    color: #fdff00;
    
}
#heroPic{
    position:absolute;
    width:250px;
    height:250px;
    left: 10%;
    top: 30%;
    /* margin-left:-20px;
    margin-top:-20px; */
    z-index: 2;
}
#villainPic{
    position:absolute;
    width:250px;
    height:250px;
    left: 57%;
    top: 45%;
    z-index: 1;
    /* margin-left:-20px;
    margin-top:-20px; */
}
#changePic{
    opacity: 0.0;
}
/* when screen is smaller than 840 make heroPic move down the screen to fit */
@media only screen and (max-width: 768px) {
    #heroPic {
        left: 1%;
        top: 51%;
    }
  }
  @media only screen and (max-width: 640px){
#heroPic {
    left: 1%;
    top: 90%;
}
  }